node_modules
.DS_Store
random_files
results
databases
dist
packages
*.fa
*.ndb
*.nhr
*.nin
*.njs
*.nog
*.nos
*.not
*.nsq
*.ntf
*.nto
*.nsd
*.nsi
*.nal
*.csv
!_config.csv
!_variables.csv
*.log

temp

*blast*
!installed_blast
!installed_blast/*.txt
!src/**/*
releases
dustmasker
get_species_taxids.sh
makembindex
makeprofiledb
segmasker
windowmasker